<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.trevor.control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bandeja</servlet-name>
        <servlet-class>com.trevor.control.Bandeja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>com.trevor.control.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>com.trevor.control.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Configuracion</servlet-name>
        <servlet-class>com.trevor.control.Configuracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vision</servlet-name>
        <servlet-class>com.trevor.control.Vision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tickets</servlet-name>
        <servlet-class>com.trevor.control.Tickets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bandeja</servlet-name>
        <url-pattern>/Bandeja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Configuracion</servlet-name>
        <url-pattern>/Configuracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vision</servlet-name>
        <url-pattern>/Vision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tickets</servlet-name>
        <url-pattern>/Tickets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Login
        </welcome-file>
    </welcome-file-list>
</web-app>
