
/* para busqueda en consultar_usuarios*/
.busqueda{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.busqueda h1{
    color: #274b58;
    font-size: 35px;
}

input[type="text"],input[type="email"]{
    padding: 7px;
    border-radius: 15px;
}

input[type="submit"]{
    background-color: transparent;
}

.buttons{
    font-weight: bold;
    font-size: 20px;
    color: #bde5ce;
    border: 3px solid #bde5ce;
    border-radius: 15px;
    padding: 7px;
    text-decoration: none;
    margin-left: 5px;
}

.buttons:hover{
    cursor: pointer;
    background-color: #bde5ce;
    border-color: #6fb1b4;
    color: #6fb1b4;
    border: 3px solid;
    transition: 0.5s;
}

/*para el boton de redactar mensaje en consultar_mensaje*/

.stiki>a{ 
    position: absolute;
    border: 5px solid #bde5ce;
    border-radius: 100%;
    background-color: #bde5ce;
    font-size: 40px;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    right: 15px;
    color: #274b58;
    bottom: 20px;
}

.stiki>a:hover{
    border: 5px solid #274b58;
    color: #bde5ce;
    background-color: #274b58;
    transition: 0.5s;
}

#nomessage{
    text-align: center;
    font-size: 50px;
    color: #B6D59A;
    position: relative;
}


/*  MENSAJE */ 

.fondoK{
    background-color: #bde5ce;
    border-radius: 15px;
    position: absolute; 
    left: 10%; 
    bottom: 50%;
    font-size: 25px;
    font-family: initial;


}
.mov{
    position: absolute;
    bottom: 1px;
    right: 90px !important;
}

/* para ver datos del usuario*/

#usuarioform>form{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #bde5ce;
    padding: 35px;
    border-radius: 15px;
    color: #274b58;
    left: 75%;
    bottom: 50%;
}

.select{
    width: 100%;
    border-radius: 15px;
}

#Actualizar{
    border-radius: 15px;
    padding: 15px;
    background-color: #274b58;
    color: white;
    border: 3px solid #bde5ce;
    margin-right: 30px;
    margin-top: 15px;
    font-size: 19px;
}

#Actualizar:hover{
    background-color: #6fb1b4;
    cursor: pointer;
    transition-duration: 0.5s;
}

.back{
    cursor: pointer;
    color: #274b58;
    width: 50%;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
}


.back:hover{
    color: white;
    transition: 0.5s;
}

/*el formulario para nuevo mensaje*/

#soli>form{
    display: flex;
    background-color: #bde5ce;
}

.new{
    color: #274b58;
    text-align: center;
}
textarea{
    resize: none;
}

h2{
    text-align: center;
}

.areaM{
    border-radius: 35px;
}
.botA{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #274b58;
    background-color: #bde5ce;
    border-radius: 6px;
    border: 2px solid #274b58; 
}

.botA:hover{
    color: #B6D59A;
    background-color: #274b58;
}
.fondoK2{
    position: absolute; 
    left: 25%; 
    bottom: 10%;
}


/*mensaje*/

.info2{
    text-align: justify;
}

.butones{
    display: flex;
}

.informacion > div{
    background-color: #68a2af;
    color: white;
    padding: 40px;
    width: 50%;
    margin-left: 50%;
    margin-top: 10%;
    font-size: 20px;

    border-radius: 15px;
}

.informacion div p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

[type*="number"]{
    width: 15%;
}

.informacion > div {
    display: flex;
    justify-content: center;
}

.graficos > div{
    margin-left: 50px;
}

.graficos > div > canvas{
    margin-top: 60px;
}

.opcion2{
    background-color: #f9ECD1;
    margin-top: 10px;
    border-radius: 10px;
    color: #274b58;
}

.opcion2:hover{
    background-color: #f2d58f;
    cursor: pointer;
}

.round{
    width: 50px; 
    height: 50px; 
    border-radius: 50px; 
    border:5px solid white; 
    margin: auto;
    background-color: #fff;
}

.info{
    background-color: #bde5ce;
    border-radius: 15px;
    margin-top: 25vh;
}


.inicial{
    -moz-transform:none;
    -webkit-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform: translate(0px, 50px);
    transition: 0.5s;
    
}


.inicial:hover{
    moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform:scale(1.2);
    transition: 0.5s;
}

.font{
    font-size: 18px;
}


.round p{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.info2{
    text-align: justify;
}

.totick{
    background-color: transparent;
    border: none;
}

/*vista de tickets*/

.fondoMs{
    background-color: #bde5ce;
    border-radius: 20px;
    
    margin-bottom: -12px !important;
}
.opcion3{
    border-radius: 10px;
    color: #274b58;
}

.fondoMs:hover{
    background-color: #a9ceb9;
    cursor: pointer;
}
.bolita{
    margin-top: 10 px;
    height:5px;
    width: auto;
    padding: 20%;
    border-radius: 100%;

}

.bolita-Baja{
    background-color:#C39BD3 !important;
}

.bolita-Media{
    background-color: #F5B041 !important;
}

.bolita-Alta{
    background-color: #27AE60 !important;
}

.bolita-Urgente{
     background-color: #EC7063 !important;
}

.alta{
    background-color: #27AE60;
}
.dvalta{
    color: #27AE60;
}

.media{
    background-color: #F5B041;
}
.dvmedia{
    color: #F5B041;
}

.baja{
    background-color: #C39BD3;
}
.dvbaja{
    color: #C39BD3;
}

.urg{
    background-color: #EC7063;
}
.dvurg{
    color: #EC7063;
}
.fonditito{
    padding-left: 40px;
    border-radius: 35px;
    background-color: black;
    margin: auto;
}
